<mat-card>
  <form>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos del paciente
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-input-container>
          <input
           matInput
           placeholder="Apellido Paterno"
           formControlName="lastnameFather"
           id="lastnameFather"
           >
        </mat-input-container>
        <mat-input-container>
          <input
           matInput
           placeholder="Apellido Materno"
           formControlName="lastnameMother"
           id="lastnameMother"
           >
        </mat-input-container>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos del tutor
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-input-container>
          <input
           matInput
           placeholder="Apellido Paterno"
           formControlName="lastnameFather"
           id="lastnameFather"
           >
        </mat-input-container>
        <mat-input-container>
          <input
           matInput
           placeholder="Apellido Materno"
           formControlName="lastnameMother"
           id="lastnameMother"
           >
        </mat-input-container>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-card>
