<mat-card class="content">
  <div class="centered">
    <span class="title">Registro del Terapeuta</span>
  </div>
  <form class="login-form" [formGroup]="registertherapistForm" (ngSubmit)="onSubmit()" >
    <mat-input-container>
      <input
       matInput
       placeholder="Apellido Paterno"
       formControlName="pName"
       id="pName"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Apellido Materno"
       formControlName="mName"
       id="mName"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Nombre(s)"
       formControlName="firstName"
       id="firstName"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Cédula Profesional"
       formControlName="cedula"
       id="cedula"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Correo"
       formControlName="email"
       id="email"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       type="password"
       placeholder="Contraseña"
       formControlName="password"
       id="password"
       >
    </mat-input-container>
    <div class="table-container">
      <table>
        <tr>
          <th class="th-aligned">Lunes</th>
          <th class="th-aligned">Martes</th>
          <th class="th-aligned">Miercoles</th>
          <th class="th-aligned">Jueves</th>
          <th class="th-aligned">Viernes</th>
          <th class="th-aligned">Sabado</th>
          <th class="th-aligned">Domingo</th>
        </tr>
        <tr>
          <td>
            <mat-input-container>
              <input
               matInput
               type="time"
               formControlName="lunes"
               id="lunes"/>
            </mat-input-container>
          </td>
          <td>
            <mat-input-container>
              <input
               matInput
               type="time"
               formControlName="martes"
               id="martes"/>
            </mat-input-container>
          </td>
          <td>
            <mat-input-container>
              <input
               matInput
               type="time"
               formControlName="miercoles"
               id="miercoles"/>
            </mat-input-container>
          </td>
          <td>
            <mat-input-container>
              <input
               matInput
               type="time"
               formControlName="jueves"
               id="jueves"/>
            </mat-input-container>
          </td>
          <td>
            <mat-input-container>
              <input
               matInput
               type="time"
               formControlName="viernes"
               id="viernes"/>
            </mat-input-container>
          </td>
          <td>
            <mat-input-container>
              <input
               matInput
               type="time"
               formControlName="sabado"
               id="sabado"/>
            </mat-input-container>
          </td>
          <td>
            <mat-input-container>
              <input
               matInput
               type="time"
               formControlName="domingo"
               id="domingo"/>
            </mat-input-container>
          </td>
        </tr>
      </table>
    </div>
    <button type="submit" mat-raised-button color="primary" class="submit-button">Registrar</button>
  </form>
</mat-card>
