<mat-card class="activity-containter">
  <mat-card-title>
    <mat-toolbar class="activity-header">Actividad n</mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    La actividad carga aquí
  </mat-card-content>
  <mat-card-content>
    <table class="actions-container">
      <tr>
        <td>
          <p><mat-icon class="good-icon">done</mat-icon>0</p>
        </td>
        <td>
          <p><button mat-fab><mat-icon>play_arrow</mat-icon></button></p>
        </td>
        <td>
          <p><mat-icon class="fail-icon">clear</mat-icon>0</p>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
