<div class="toolbar">
  <mat-toolbar color="primary">
    <span>HEWI</span>
    <span class="space"></span>
    <button mat-raised-button class="signup-button">Registrate</button>
  </mat-toolbar>

</div>
<div class="content">
  <div class="divider form">
    <form class="login-form">
      <h3 class="login-title">Inicia Sesión</h3>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Usuario" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Contraseña" value="">
      </mat-form-field>
      <button mat-raised-button color="primary">Entrar</button>
    </form>
  </div>
  <div class="divider">
    <mat-card class="two-size-card one">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
        <mat-card-title>Titulo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Contenido
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card two">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
        <mat-card-title>Titulo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Contenido
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="divider">
    <mat-card class="two-size-card three">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
        <mat-card-title>Titulo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Contenido
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card four">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
        <mat-card-title>Titulo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Contenido
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="divider">
    <mat-card class="two-size-card five">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
        <mat-card-title>Titulo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Contenido
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card six">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
        <mat-card-title>Titulo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Contenido
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
