<mat-card>
  <h3>Registro del Terapeuta</h3>
  <form>
    <h4>Nombre</h4>
    <mat-input-container>
      <input
       matInput
       placeholder="Apellido Paterno"
       formControlName="lastnameFather"
       id="lastnameFather"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Apellido Materno"
       formControlName="lastnameMother"
       id="lastnameMother"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Nombre(s)"
       formControlName="name"
       id="name"
       >
    </mat-input-container>
    <h4>Horarios</h4>
    <h4>Teléfonos</h4>
    <mat-input-container>
      <input
       matInput
       placeholder="Casa"
       formControlName="phone"
       id="phone"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Celular"
       formControlName="cellphone"
       id="cellphone"
       >
    </mat-input-container>
    <h4>Cuenta</h4>
    <mat-input-container>
      <input
       matInput
       placeholder="Nombre de Usuario"
       formControlName="username"
       id="username"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       type="password"
       placeholder="Contraseña"
       formControlName="password"
       id="password"
       >
    </mat-input-container>
    <h4>Domicilio del consultorio y/u oficina</h4>
    <mat-input-container>
      <input
       matInput
       placeholder="Calle"
       formControlName="address"
       id="address"
       >
    </mat-input-container>
    <mat-input-container class="inputnumber">
      <input
       matInput
       type="number"
       placeholder="No.Exterior"
       formControlName="extnumber"
       id="extnumber"
       >
    </mat-input-container>
    <mat-input-container class="inputnumber">
      <input
       matInput
       type="number"
       placeholder="No.Interior"
       formControlName="intnumber"
       id="intnumber"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Colonia"
       formControlName="colonia"
       id="colonia"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Delegación o Municipio"
       formControlName="delegacion"
       id="delegacion"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       type="number"
       placeholder="Código Postal"
       formControlName="postalcode"
       id="postalcode"
       >
    </mat-input-container>
    <mat-input-container>
      <input
       matInput
       placeholder="Estado"
       formControlName="state"
       id="state"
       >
    </mat-input-container>
    <h4>Profesión</h4>
    <mat-input-container>
      <input
       matInput
       placeholder="Profesión"
       formControlName="career"
       id="career"
       >
    </mat-input-container>
    <h4>Estudios de Posgrado</h4>
    <mat-input-container>
      <input
       matInput
       placeholder="Posgrado"
       formControlName="posgrade"
       id="posgrade"
       >
    </mat-input-container>
    <button mat-raised-button color="primary">Registrar</button>
  </form>
</mat-card>
