<div class="content">
  <div class="admin" *ngIf="getUserType() === 'admin'">
    <div class="data">
      <mat-card color="primary">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>info_outline</mat-icon></div>
          <mat-card-title>Información</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="menu">
      <mat-card>
        <div class="divider">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>face</mat-icon></div>
            <mat-card-title>Terapeuta</mat-card-title>
          </mat-card-header>
          <mat-list>
            <mat-list-item [routerLink]="['admin', 'register-therapist']">Registro</mat-list-item>
            <mat-list-item [routerLink]="['admin', 'consult-therapist']">Consulta</mat-list-item>
          </mat-list>
        </div>
        <div class="divider">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
            <mat-card-title>Paciente</mat-card-title>
          </mat-card-header>
          <mat-list>
            <mat-list-item [routerLink]="['admin', 'register-therapist']">Confirmación</mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </div>
  </div>
</div>
