<div class="content">
  <div class="admin" *ngIf="getUserType() === 'admin'">
    <div class="data">
      <mat-card color="primary">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>info_outline</mat-icon></div>
          <mat-card-title>Información</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="menu">
      <mat-card>
        <div class="divider">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>face</mat-icon></div>
            <mat-card-title>Terapeuta</mat-card-title>
          </mat-card-header>
          <mat-list>
            <mat-list-item [routerLink]="['admin', 'register-therapist']">Registro</mat-list-item>
            <mat-list-item [routerLink]="['admin', 'consult-therapist']">Consulta</mat-list-item>
          </mat-list>
        </div>
        <div class="divider">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
            <mat-card-title>Paciente</mat-card-title>
          </mat-card-header>
          <mat-list>
            <mat-list-item [routerLink]="['admin', 'register-therapist']">Confirmación</mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="therapsit" *ngIf="getUserType() === 'therapist'">
    <div class="data">
      <mat-card color="primary">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>info_outline</mat-icon></div>
          <mat-card-title>Información</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="menu">
      <mat-card>
        <div class="divider">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>date_range</mat-icon></div>
            <mat-card-title>Agenda</mat-card-title>
          </mat-card-header>
          <mat-list>
            <mat-list-item [routerLink]="['therapist', 'sessions']">Sesiones</mat-list-item>
          </mat-list>
        </div>
        <div class="divider">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
            <mat-card-title>Paciente</mat-card-title>
          </mat-card-header>
          <mat-list>
            <mat-list-item [routerLink]="['therapist', 'consult']">Consulta</mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="patient" *ngIf="getUserType() === 'patient'">
    <div class="data">
      <mat-card color="primary">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>info_outline</mat-icon></div>
          <mat-card-title>Información</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="aat">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar><mat-icon>flash_on</mat-icon></div>
          <mat-card-title>Actividades de Atención</mat-card-title>
        </mat-card-header>
        <mat-list>
          <div class="acontainer">
            <div class="adivider">
              <mat-list-item [routerLink]="['patient', 'aat1']">Actividad 1</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat2']">Actividad 2</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat3']">Actividad 3</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat4']">Actividad 4</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat5']">Actividad 5</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat6']">Actividad 6</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat7']">Actividad 7</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat8']">Actividad 8</mat-list-item>
            </div>
            <div class="adivider">
              <mat-list-item [routerLink]="['patient', 'aat9']">Actividad 9</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat10']">Actividad 10</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat11']">Actividad 11</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat12']">Actividad 12</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat13']">Actividad 13</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat14']">Actividad 14</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat15']">Actividad 15</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'aat16']">Actividad 16</mat-list-item>
            </div>
          </div>
        </mat-list>
      </mat-card>
    </div>
    <div class="avs">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar><mat-icon>switch_video</mat-icon></div>
          <mat-card-title>Actividades Videoespaciales</mat-card-title>
        </mat-card-header>
        <mat-list>
          <div class="acontainer">
            <div class="adivider">
              <mat-list-item [routerLink]="['patient', 'avs1']">Actividad 1</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs2']">Actividad 2</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs3']">Actividad 3</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs4']">Actividad 4</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs5']">Actividad 5</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs6']">Actividad 6</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs7']">Actividad 7</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs8']">Actividad 8</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs9']">Actividad 9</mat-list-item>
            </div>
            <div class="adivider">
              <mat-list-item [routerLink]="['patient', 'avs10']">Actividad 10</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs11']">Actividad 11</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs12']">Actividad 12</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs13']">Actividad 13</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs14']">Actividad 14</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs15']">Actividad 15</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs16']">Actividad 16</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs17']">Actividad 17</mat-list-item>
              <mat-list-item [routerLink]="['patient', 'avs18']">Actividad 18</mat-list-item>
            </div>
          </div>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
