<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-content" #sidenav mode="side" [(opened)]="opened">
    <mat-toolbar class="header-sidenav">
      <span>Menú</span>
    </mat-toolbar>

    <router-outlet name="navlist"></router-outlet>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header-sidenav">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span class="title">Hewi</span>
        <span class="space"></span>
        <mat-icon class="user-icon">face</mat-icon>
        <span>Usuario</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="above">
          <button mat-menu-item [routerLink]="['/']">
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configuración</span>
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Salir</span>
          </button>
        </mat-menu>
    </mat-toolbar>

    <router-outlet name="content"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
