<mat-card class="centered">
  <h1 class="title">Pacientes</h1>
</mat-card>
<mat-card>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div class="table-container" *ngIf="!loading">
    <table matSort (matSortChange)="sortData($event)" class="patient-table">
      <tr>
        <th mat-sort-header="curp">CURP</th>
        <th mat-sort-header="nome">Nombre</th>
        <th mat-sort-header="LNameP">Apellido paterno</th>
          <th mat-sort-header="LNameM">Apellido materno</th>
      </tr>

     <tr *ngFor="let patient of patients">
        <td><a md-button color="primary" [routerLink]="['/therapist', 'consult', patient.patientInfo.curp]">{{ patient.patientInfo.curp }}</a></td>
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.pName }}</td>
        <td>{{ patient.mName }}</td>
      </tr>
    </table>
  </div>
</mat-card>
