mat-input-container{
  width: 33.3%
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  height: 10%;
}


mat-spinner{
  display: flex;
  margin: auto;
}

.patient-table{
  width: 100%;
}

.table-container{
  background-color: inherit;
  padding: 10px;
  overflow-x: auto;
}

.span{
  background-color: blue;
  height: 10%;
}

.centered{
  display: flex;
}

.title{
  margin: auto;
}
