<div class="divider">
  <mat-card class="activity">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Actividad 8</span>
        <span class="space"></span>
        <img src="" id="0" name="figure" class="estimulo clave">
          <button mat-mini-fab id="jugarBtn" onclick="jugar()"><mat-icon>play_arrow</mat-icon></button>
        <span class="spacer"></span>
        <div id="aciertos" class="aciertos">0</div><mat-icon class="aciertos">done</mat-icon>
        <span class="spacer"></span>
        <div id="errores" class="errores">0</div><mat-icon class="errores">clear</mat-icon>
      </mat-toolbar>
    </mat-card-header>
    <div class="activity-container">
      <span class="space"></span>
      <div class="activity-content">
        <!-- Actividad aquí -->
        <div class="panel panel-body " id="caballero">
									<!--tabla de controles para el nivel -->
		<div id="resultadosBox" style="background: white; visibility: hidden;">
          <table class="table-condensed">
              <tr>
                  <td>
						 <button mat-raised-button id="save-results" class="btn boton" onclick="saveResults()" color="primary">Guardar Resultados</button>
						 <button mat-raised-button onclick="jugar()" id="jugarBtn" style="display:none">Jugar de nuevo</button>
                      </td>
                  </tr>
              </table>
              </div>
        </div>

      </div>
      <span class="space"></span>
    </div>
  </mat-card>
  <mat-card class="level">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Nivel: </span><span id="level">1</span>
      </mat-toolbar>
    </mat-card-header>
    <div class="nivel">
      <!-- Aquí van los niveles -->
    </div>
  </mat-card>
</div>
