
#estimulo {
            width: 60px;
            height: 60px;
            align-self: center;
            position: relative;
            animation-name: animacion;
            animation-duration: 30s;
            animation-iteration-count: infinite;
			animation-play-state: paused;

}
@keyframes animacion {
            0%  	{left:0px; top:0px;}
			12.5%	{left:0px; top:-130px;}
            25% 	{left:340px; top:-130px;}
            37.5% 	{left:340px; top:180px;}
			50%		{left:0px; top:180px;}
			62.5% 	{left:-340px; top:180px;}
            75% 	{left:-340px; top:-130px;}
			87.5% 	{left:0px; top:-130px;}
            100% 	{left:0px; top:0px;}
}
.divider{
  width: 100%;
  display: inline-flex;
}

mat-toolbar{
  margin: 0;
}

.space{
  flex: 1 1 auto;
}

.spacer{
  width: 20px;
}


mat-card{
  height: auto;
}

.activity-content{
  display: flex;
  align-items: center;
  margin: auto;
  align-self:center;
}

.activity{
  width: 70%;
}

.estimulo{
	height: 60px;
	width: auto;
	display:flex;
}

width: 30%;
.level{
}

.boton{
	display: none;
  margin: 0 auto;
}
