<div class="divider">
  <mat-card>
      <mat-card-header>
        <mat-toolbar color="primary">
          <span>Actividad 1 Visio Espacial</span>
          <span class="space"></span>
          <button mat-mini-fab id="comienzo" onclick="iniciarEjercicio();"><mat-icon>play_arrow</mat-icon></button>
          <span class="spacer"></span>
          <button mat-mini-fab id="fin" onclick="finalizarEjercicio();"><mat-icon>stop_arrow</mat-icon></button>
          <span class="spacer"></span>
          <div id="tabla">
            Periodo del ciclo: <mat-form-field><input matInput id="tiempo" type="number" min="10" max="60" value="30"/></mat-form-field>
          </div>
        </mat-toolbar>
      </mat-card-header>
			<div id="Est" class="div-estimulo">
				<table class=tabla-estimulo>
					<tr>
						<td>
							<div id="estimulo"><img src = "../../../../../assets/images/avs1/icono.png" height="60px"/></div>
						</td>
					</tr>
				</table>
			</div>
  </mat-card>
</div>
