<div class="divider">
  <mat-card class="activity">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Actividad 11</span>
        <span class="space"></span>
        <button mat-mini-fab id="comienzo" onclick="iniciarEjercicio()"><mat-icon>play_arrow</mat-icon></button>
        <span class="spacer"></span>
        <img src="" id="0" name="figure" class="estimulo clave">
        <span class="spacer"></span>
        <div id="aciertos" class="aciertos">0</div><mat-icon class="aciertos">done</mat-icon>
        <span class="spacer"></span>
        <div id="errores" class="errores">0</div><mat-icon class="errores">clear</mat-icon>
      </mat-toolbar>
    </mat-card-header>
    <div class="activity-container">
      <span class="space"></span>
      <div class="activity-content">
        <!-- Actividad aquí -->
        <div id="estimuloBox" style="position:relative; left:20px; top:20px;  background: white; visibility: visible; padding-bottom: 100px; width:205px; height:205px">
				<table border="0" id="tabla">
					<tr>
						<td><canvas id="micanvas" onclick='contar1()' width="100" height="100"></canvas>
						</td>
						<td> <canvas id="micanvas2" onclick='contar2()' width="100" height="100"></canvas>
						</td>
					</tr>
					<tr>
						<td>
							 <canvas id="micanvas3" onclick='contar3()' width="100" height="100"></canvas>
						</td>
						<td>
							 <canvas id="micanvas4" onclick='contar4()' width="100" height="100"></canvas>
						</td>
					</tr>
				</table>
        </div>
        <div id="resultadosBox" style="position:absolute; left:350px; top:140px;  background: white; visibility: hidden;">
        <button mat-raised-button id="save-results" class="btn boton" onclick="saveResults()" color="primary">Guardar Resultados</button>
      </div>
      </div>
      <span class="space"></span>
    </div>
  </mat-card>
  <mat-card class="level">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Nivel: </span><span id="nivel">1</span>
      </mat-toolbar>
    </mat-card-header>
    <div class="nivel">
      <!-- Aquí van los niveles -->
      <div class="radio">
      <label>
          <input type="radio" name="niveles" onclick="setNivel(1);" value="1" checked/>
        Nivel 1: Las imágenes serán divididas con un corte vertical.
        <br>
  </label>
  <label>
      <input type="radio" name="niveles" onclick="setNivel(2);" value="2"/>
        Nivel 2: Las imágenes serán divididas con un corte vertical a blanco y negro.
        <br>
  </label>
  <label>
      <input type="radio" name="niveles" onclick="setNivel(3);" value="3"/>
        Nivel 3: Las imágenes serán divididas con un corte vertical manteniendo solo la silueta.
        <br>
    </label>
    <label>
        <input type="radio" name="niveles" onclick="setNivel(4);"  value="4"/>
        Nivel 4: Las imágenes serán divididas con un corte horizontal.
        <br>
  </label>
  <label>
      <input type="radio" name="niveles" onclick="setNivel(5);" value="5"/>
        Nivel 5: Las imágenes serán divididas con un corte horizontal a blanco y negro.
        <br>
    </label>
    <label>
        <input type="radio" name="niveles" onclick="setNivel(6)" value="6">
        Nivel 6: Las imágenes serán divididas con un corte horizontal manteniendo solo la silueta.
        <br>
      </label>
      <label>
          <input type="radio" name="niveles" onclick="setNivel(7)" value="7">
        Nivel 7: Las imágenes serán divididas con un corte diagonal.
        <br>
      </label>
      <label>
          <input type="radio" name="niveles" onclick="setNivel(8)" value="8">
        Nivel 8: Las imágenes serán divididas con un corte diagonal a blanco y negro.
        <br>
        </label>
        <label>
            <input type="radio" name="niveles" onclick="setNivel(9)" value="9">
        Nivel 9: Las imágenes serán divididas con un corte diagonal manteniendo solo la silueta.
        <br>
      </label>
  </div>
    </div>
  </mat-card>
</div>
