<div class="divider">
  <mat-card class="activity">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Actividad 5</span>
        <span class="space"></span>
        <button mat-mini-fab id="comienzo" onclick="iniciarEjercicio()"><mat-icon>play_arrow</mat-icon></button>
        <span class="spacer"></span>
        <img src="" id="0" name="figure" class="estimulo clave">
        <span class="spacer"></span>
        <div id="aciertos" class="aciertos">0</div><mat-icon class="aciertos">done</mat-icon>
        <span class="spacer"></span>
        <div id="errores" class="errores">0</div><mat-icon class="errores">clear</mat-icon>
      </mat-toolbar>
    </mat-card-header>
    <div class="activity-container">
      <span class="space"></span>
      <div class="activity-content">
        <!-- Actividad aquí -->
        <div id="opcionesBox" style="position: absolute; left: 320px; background:red; visibility:hidden;">
           <canvas id="canvasOpcion" width="200" height="200" style=" border:0px solid #000000"></canvas>
        </div>
        <div id="estimuloBox" style="position: relative; background: white; visibility:visible;">
          <br><br>
          <canvas id="canvasEstimulo" width="200" height="150" style=" border: 0px solid #000000"></canvas>
        <div style="position: relative; background:white;">
    		    <button mat-raised-button name="btn1" onclick="validarIguales(0)" id="btnCorrecto" style="display:none"><i class="icon-star"> </i>Correcto</button>
    		    <button mat-raised-button name="btn2" onclick="validarIguales(1)" id="btnIncorrecto" style="display:none">Incorrecto</button>
        </div>
        </div>
          <div id="resultadosBox" style="top:0px;  background: white; visibility: hidden;">
        <button mat-raised-button id="save-results" class="btn boton" onclick="saveResults()" color="primary">Guardar Resultados</button>
      </div>
      </div>
      <span class="space"></span>
    </div>
  </mat-card>
  <mat-card class="level">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Nivel: </span><span id="level">1</span>
      </mat-toolbar>
    </mat-card-header>
    <div class="nivel">
      <!-- Aquí van los niveles -->
      <div class="radio">
           <label>
               <input type="radio" name="niveles" onclick="setNivel(1);" value="1" checked/>
               Nivel 1. Marca correcto cada que aparezca una H pequeña sin importar las letras grandes.
               <br>
           </label>
           <label>
               <input type="radio" name="niveles" onclick="setNivel(2);" value="2"/>
               Nivel 2. Marca correcto cada que aparezca una S pequeña sin importar las letras grandes.
           </label>
      </div>
    </div>
  </mat-card>
</div>
