<div class="aligner">
  <mat-card class="two-size-card">
    <mat-card-header>
      <div mat-card-avatar><mat-icon>face</mat-icon></div>
      <mat-card-title>Terapeuta</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Contenido
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="two-size-card">
    <mat-card-header>
      <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
      <mat-card-title>Paciente</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Contenido
      </p>
    </mat-card-content>
  </mat-card>
</div>
