<div class="horizontal">
  <div class="datauser">
    <mat-card class="data">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>user</mat-icon></div>
        <mat-card-title>Datos de sesión</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        Aquí va el menú
      </mat-card-content>
    </mat-card>
  </div>
  <div class="menu">
    <mat-card class="menus">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>user</mat-icon></div>
        <mat-card-title>Datos de sesión</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        Aquí va el menú
      </mat-card-content>
    </mat-card>
    <mat-card class="menus">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>user</mat-icon></div>
        <mat-card-title>Datos de sesión</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        Aquí va el menú
      </mat-card-content>
    </mat-card>
  </div>
</div>
