.activity-header{
  background: #006eca;
  color: #fff;
}

.activity-containter{
  margin: 20px 100px;
}

.actions-container{
  border: #ddd solid;
  width: stretch;
}

p{
  font-size: 20px;
  padding: 0;
  margin: 0
}

td{
  text-align: center
}

.good-icon{
  color: #00c108;
}

.fail-icon{
  color: #c70202;
}
