<mat-card class="activity-containter">
  <mat-card-title>
    <mat-toolbar class="activity-header">Actividad n</mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <!-- Actividad -->
    <table class="table-condensed">
        <tr>
            <td> <button id="begin" class="btn btn-success"
                        onclick="begin();
                         ">Iniciar</button></td>

            <td>Aciertos &nbsp;<span class="badge"><div id="aciertos">0</div></span></td>
            <td>Errores &nbsp;<span class="badge"><div id="errores">0</div></span></td>
            <td>Clave: <img src="" id="0" name="figure" class="estimulo"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><a><img src="" id="1" class="estimulo" onclick="validate(id,src)"></a></td>
            <td><img src="" id="2" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="3" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="4" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="5" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="6" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="7" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="8" name="figure" class="estimulo" onclick="validate(id,src)"></td>
        </tr>
        <!---->
        <tr>
            <td><img src="" id="9" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="10" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="11" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="12" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="13" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="14" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="15" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="16" name="figure" class="estimulo" onclick="validate(id,src)"></td>
        </tr>
        <!---->
        <tr>
            <td><img src="" id="17" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="18" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="19" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="20" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="21" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="22" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="23" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="24" name="figure" class="estimulo" onclick="validate(id,src)"></td>
        </tr>
        <!---->
        <tr>
            <td><img src="" id="25" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="26" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="27" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="28" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="29" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="30" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="31" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="32" name="figure" class="estimulo" onclick="validate(id,src)"></td>
        </tr>
        <!---->
        <tr>
            <td><img src="" id="33" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="34" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="35" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="36" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="37" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="38" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="39" name="figure" class="estimulo" onclick="validate(id,src)"></td>
            <td><img src="" id="40" name="figure" class="estimulo" onclick="validate(id,src)"></td>
        </tr>
    </table>
    <input id="save-results" class="btn boton" type="button" value="Guardar resultados" onclick="saveResults()">
  </mat-card-content>
  <mat-card-content>
    <table class="actions-container">
      <tr>
        <td>
          <p><mat-icon class="good-icon">done</mat-icon>0</p>
        </td>
        <td>
          <p><button mat-fab><mat-icon>play_arrow</mat-icon></button></p>
        </td>
        <td>
          <p><mat-icon class="fail-icon">clear</mat-icon>0</p>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
