<div class="toolbar">
  <mat-toolbar color="primary">
    <span>
      HEWI</span>
    <span class="space"></span>
    <button [routerLink]="['/signin']" mat-raised-button class="signup-button">Iniciar Sesión</button>
  </mat-toolbar>
</div>
<div class="content">
  <form [formGroup]="signupForm">
    <div class="divider">
      <mat-card class="">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
          <mat-card-title>Datos del Paciente</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-input-container>
            <input
             matInput
             placeholder="Apellido Paterno"
             formControlName="pNameP"
             id="pNameP"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             placeholder="Apellido Materno"
             formControlName="mNameP"
             id="mNameP"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             placeholder="Nombre"
             formControlName="nameP"
             id="nameP"
             >
          </mat-input-container>
          <br />
          <mat-input-container>
            <input
             matInput
             placeholder="Nombre de Usuario"
             formControlName="username"
             id="username"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             type="password"
             placeholder="Contraseña"
             formControlName="password"
             id="password"
             >
          </mat-input-container>
          <br />
          <mat-form-field>
            <mat-select formControlName="genderP" id="genderP" placeholder="Sexo" disableRipple>
            <mat-option value="masculino">Masculino</mat-option>
            <mat-option value="femenino">Femenino</mat-option>
          </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" formControlName="datebornP" id="datebornP" placeholder="Fecha de Nacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #picker></mat-datepicker>
          </mat-form-field>
          <mat-input-container>
            <input
             matInput
             placeholder="Edad"
             formControlName="ageP"
             id="ageP"
             >
          </mat-input-container>
          <br />
          <mat-form-field>
            <mat-select formControlName="lateralidadP" id="lateralidadP" placeholder="Lateralitad" disableRipple>
              <mat-option value="Zurdo">Zurdo</mat-option>
              <mat-option value="Diestro">Diestro</mat-option>
                <mat-option value="No_especificado">No especificado</mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-select formControlName="escolaridadP" id="escolaridadP" placeholder="Escolaridad" disableRipple>
              <mat-option value="Primaria">Primaria</mat-option>
              <mat-option value="Secundaria">Secundaria</mat-option>
              <mat-option value="Bachillerato">Bachillerato</mat-option>
              <mat-option value="Licenciatura">Licenciatura</mat-option>
              <mat-option value="Posgrado">Posgrado</mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-select formControlName="diagnostico" id="diagnostico" placeholder="Diagnóstico Médico" disableRipple>
              <mat-option value="Genetica">Enfermedad genetica</mat-option>
              <mat-option value="Neurológica">Neurológica principal</mat-option>
              <mat-option value="otras">Otras patologias</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="estudios" id="estudios" placeholder="Estudios Realizados" disableRipple>
              <mat-option value="Fish">Fish</mat-option>
              <mat-option value="Cariotipo">Cariotipo</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="divider">
      <mat-card class="two-size-card five">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>face</mat-icon></div>
          <mat-card-title>Datos del Tutor</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-input-container>
            <input
             matInput
             placeholder="Apellido Paterno"
             formControlName="pNameT"
             id="pNameT"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             placeholder="Apellido Materno"
             formControlName="mNameT"
             id="mNameT"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             placeholder="Nombre"
             formControlName="nameT"
             id="nameT"
             >
          </mat-input-container>
          <br />
          <mat-input-container>
            <input
             matInput
             placeholder="Calle"
             formControlName="address"
             id="address"
             >
          </mat-input-container>
          <mat-input-container class="inputnumber">
            <input
             matInput
             type="number"
             placeholder="No.Exterior"
             formControlName="extnumber"
             id="extnumber"
             >
          </mat-input-container>
          <mat-input-container class="inputnumber">
            <input
             matInput
             type="number"
             placeholder="No.Interior"
             formControlName="intnumber"
             id="intnumber"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             placeholder="Colonia"
             formControlName="colonia"
             id="colonia"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             placeholder="Delegación o Municipio"
             formControlName="delegacion"
             id="delegacion"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             type="number"
             placeholder="Código Postal"
             formControlName="postalcode"
             id="postalcode"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             placeholder="Estado"
             formControlName="state"
             id="state"
             >
          </mat-input-container>
          <br />
          <mat-form-field>
            <mat-select formControlName="escolaridadT" id="escolaridadT" placeholder="Escolaridad" disableRipple>
            <mat-option value="Primaria">Primaria</mat-option>
            <mat-option value="Secundaria">Secundaria</mat-option>
            <mat-option value="Bachillerato">Bachillerato</mat-option>
            <mat-option value="Licenciatura">Licenciatura</mat-option>
            <mat-option value="Posgrado">Posgrado</mat-option>
          </mat-select>
          </mat-form-field>
          <br />
          <mat-input-container>
            <input
             matInput
             placeholder="Edad"
             formControlName="ageT"
             id="ageT"
             >
          </mat-input-container>
          <br />
          <mat-input-container>
            <input
             matInput
             placeholder="Telefono de Casa"
             type="number"
             formControlName="phone"
             id="phone"
             >
          </mat-input-container>
          <mat-input-container>
            <input
             matInput
             placeholder="Celular"
              type="number"
             formControlName="cellphone"
             id="cellphone"
             >
          </mat-input-container>
          <br />
          <mat-input-container>
            <input
             matInput
             placeholder="Correo Electronico"
             type="email"
             formControlName="email"
             id="email"
             >
          </mat-input-container>
          <br />
          <button mat-raised-button color="primary" class="signin-button">Registrar</button>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>
