.space{
  flex: 1 1 auto;
}

.header-sidenav{
  position: sticky;
  top: 0px;
  background: lightgray;
  z-index: 5
}

.title{
  font-size: 30px
}

.user-icon{
  margin-right: 5px
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.sidenav-content{
  width: 250px;
  background-color: whitesmoke;
}
