<div class="full">
  <div class="activity-panel">
    <mat-card>
      <mat-toolbar>Actividad</mat-toolbar>
      <div class="activity-container">

      </div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Instrucciones
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original. En otras palabras, un texto es un entramado de signos con una intención comunicativa que adquiere sentido en determinado contexto.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
  <div class="level-panel">
    <mat-card>
      <mat-toolbar>Opciones</mat-toolbar>
      <div class="points">
        <div class="corrects">
          <span class="corrects-span">Aciertos:</span>
        </div>
        <div class="fails">
          <span class="fails-span">Errores:</span>
        </div>
      </div>
      <mat-toolbar class="minitoolbar">Nivel</mat-toolbar>
      <div class="radio">
        
      </div>
      <mat-toolbar class="minitoolbar"></mat-toolbar>
    </mat-card>
  </div>
</div>
