.content{
  height: 100%;
  width: 100%;
  display: inline-flex;
}

.divider{
  width: 25%;
  height: 100%;
}

mat-card{
  width: auto;
  color: white;
  margin: 1% 1%;
}

.one{ background-color: #2196F3}
.two{ background-color: #64DD17}
.three{ background-color: #FF9800}
.four{ background-color: #9C27B0}
.five{ background-color: #009688}
.six{ background-color: #e91e63}
.seven{ background-color: #21dea8}

.two-size-card{
  height: 40%;
}

.space{
  flex: 1 1 auto;
}

.login-title{
  color: #3f51b5
}

.login-form{
  margin: auto;
  width: 80%;
  margin-top: 32%;
  text-align: center;
}

mat-form-field{
  width: 100%
}

.heart-image{
  margin: auto;
  width: 90%;
  height: auto;
}

.loguito{
  width: 80%;
  height: auto;
  display: flex;
  margin: auto;
}

.tera{
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
}


mat-card-content{
  overflow-y: auto;
  height: 85%;
}

.justified{
  text-align: justify;
  font-size: 16px;
  padding: 5px;
  width: auto;
  float: left;
}

.bebes{
  display: flex;
  margin: auto;
  width: auto;
  height: 100%;
}

.bebes2{
  display: flex;
  margin: auto;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px){
    .content{
      display: inline-block;
    }
    .divider{
      width: 100%;
      height: auto;
    }
    .form{
      height: 100%;
    }
}
