<div class="toolbar">
  <mat-toolbar color="primary">
    <span>HEWI</span>
    <span class="space"></span>
    <button [routerLink]="['/signin']" mat-raised-button class="signup-button">Registrate</button>
  </mat-toolbar>

</div>
<div class="content">
  <div class="divider form">
    <form class="login-form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <h3 class="login-title">Iniciar Sesión</h3>
      <mat-form-field class="example-full-width">
        <input
        matInput
        placeholder="Email"
        formControlName="email"
        id="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
         matInput
         type="password"
         placeholder="Contraseña"
         formControlName="password"
         id="password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Iniciar Sesion</button>
    </form>
  </div>
  <div class="divider">
    <mat-card class="two-size-card one">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
        <mat-card-title>¿Qué es el sindrome de williams?</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
        Es una enfermedad genética que afecta muchas partes del cuerpo. Se caracteriza por discapacidad intelectual leve a moderada, personalidad con características únicas, rostro distintivo y problemas del corazón y vasos sanguíneos (cardiovascular).
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card two">
      <mat-card-content>
        <p>
          <img width="300" [src]="corazon.png">
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="divider">
    <mat-card class="two-size-card three">

      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card four">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>call</mat-icon></div>
        <mat-card-title>Contacto</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Terapeuta: Carlos Serrano

          Telefono: 5527384848

          correo: nyadev.ipn@gmail.com
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="divider">
    <mat-card class="two-size-card five">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>child_care</mat-icon></div>
        <mat-card-title>¿Qué es hewi?</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          HEWI es un software que busca ayudar a niños con sindrome de williams
          con el uso de actividades visioespaciales y de atención que mejoren sus
          capacidades cognitivas y aceleren el tratamiento
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card six">


      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
</div>
