<div class="content">
  <div class="divider form">
    <form class="login-form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <h3 class="login-title">Iniciar Sesión</h3>
      <mat-form-field class="example-full-width">
        <input
        matInput
        placeholder="Email"
        formControlName="email"
        id="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
         matInput
         type="password"
         placeholder="Contraseña"
         formControlName="password"
         id="password">
      </mat-form-field>
      <br />
      <button type="submit" mat-raised-button color="primary">Iniciar Sesion</button>
      <p style="text-align: center">
        ¿Eres Paciente?
        <a md-button color="primary" [routerLink]="['/signup']">Crear usuario</a>
      </p>
    </form>
  </div>
  <div class="divider">
    <mat-card class="two-size-card one">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>extension</mat-icon></div>
        <span>¿Qué es el sindrome de williams?</span>
      </mat-card-header>

      <mat-card-content layout="column">
        <p class="justified">
        Es una alteración cromosómica ocasionada por la deleción en un segmento del cromosoma 7, es decir, 7q11.23. Esto provoca una pérdida de 24-26 genes, los cuales se expresan en un fenotipo característico de estas personas.
        A nivel cognitivo conductal presentan una discapacidad intelectual que va de lo leve a lo moderado con graves alteraciones visioespaciales, atención y funcionamiento ejecutivo; además presenta altos niveles de ansiedad transtorno por déficit de atención con hiperactividad.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card two">

    </mat-card>
  </div>
  <div class="divider">
    <mat-card class="two-size-card three">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>school</mat-icon></div>
        <span>Detrás de todo</span>
      </mat-card-header>

      <mat-card-content>
        <p class="justified">
          <img src="./assets/images/resource/ipntounam.png" class="loguito"  />
          Hewi es una aplicación creada por alumnos del Instituto Politécnico Nacional para la mayor casa de estudios la Universidad Autónoma de México.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card four">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>call</mat-icon></div>
        <span>Contacto</span>
      </mat-card-header>

      <mat-card-content>
        <p>
          Terapeuta: Carlos Serrano

          Telefono: 5527384848

          correo: nyadev.ipn@gmail.com
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="divider">
    <mat-card class="two-size-card five">
      <mat-card-header>
        <div mat-card-avatar><img src="./assets/images/resource/logo.png" class="loguito"  /></div>
        <span>¿Qué es HEWI?</span>
      </mat-card-header>

      <mat-card-content>
        <p class="justified">
          Es una plataforma educativa, informativa y experimental que tiene como objetivo crear un espacio para brindar información a los padres con SW, ser una plataforma de intervención neuropsicologica para la mejora de las habilidades atencionales y visoespaciales y; ser un espacio de convocatoria para protocolos de investigación en SW.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="two-size-card six">
      <mat-card-header>
        <div mat-card-avatar><img src="./assets/images/resource/logo_nyadev.PNG" class="loguito"  /></div>
        <span>Nosotros</span>
      </mat-card-header>
      <mat-card-content>

        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
