<div class="divider">
  <mat-card class="activity">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Actividad 8 </span>&nbsp; &nbsp;
        Atención sostenida y selectiva &nbsp; &nbsp; &nbsp; &nbsp; Nivel: <span id="nivel">1</span>
        <span class="space"></span>
        <button mat-mini-fab id="comienzo" onclick="iniciarEjercicio()"><mat-icon>play_arrow</mat-icon></button>
        <span class="spacer"></span>
        <img src="" id="0" name="figure" class="estimulo clave">
        <span class="spacer"></span>
        <div id="aciertos" class="aciertos">0</div><mat-icon class="aciertos">done</mat-icon>
        <span class="spacer"></span>
        <div id="errores" class="errores">0</div><mat-icon class="errores">clear</mat-icon>
      </mat-toolbar>
    </mat-card-header>
    <div class="activity-container">
      <span class="space"></span>
      <div class="activity-content">
        <!-- Actividad aquí -->
        <div id="estimuloBox" style="position:absolute; left: 400px; height: 50%; background: white; visibility: visible;">
          <font style="font-size: 3cm;"><p id="estimulo"></p></font>
          <br>
      </div>
      <div id="resultadosBox" style="position: absolute; left:400px; top: 150px; background: white; visibility: hidden; ">
          <button mat-raised-button id="save-results" class="btn boton" onclick="saveResults()" color="primary">Guardar Resultados</button>
      </div>
      <div id="opcionesBox" style="position:relative; top:0px; top:0px;  background: white; visibility: hidden;">
          <table class="table-condensed" style="font-size: 2cm;">
          <tr>
          <td><div id="n1" onclick="validar(1);">&nbsp;1&nbsp;</div></td>
          <td><div id="n2" onclick="validar(2);">&nbsp;2&nbsp;</div></td>
          <td><div id="n3" onclick="validar(3);">&nbsp;3&nbsp;</div></td>
          </tr>
          <tr>
          <td><div id="n4" onclick="validar(4);">&nbsp;4&nbsp;</div></td>
          <td><div id="n5" onclick="validar(5);">&nbsp;5&nbsp;</div></td>
          <td><div id="n6" onclick="validar(6);">&nbsp;6&nbsp;</div></td>
          </tr>
          <tr>
          <td><div id="n7" onclick="validar(7);">&nbsp;7&nbsp;</div></td>
          <td><div id="n8" onclick="validar(8);">&nbsp;8&nbsp;</div></td>
          <td><div id="n9" onclick="validar(9);">&nbsp;9&nbsp;</div></td>
          </tr>
          </table>
        </div>

      </div>
      <span class="space"></span>
    </div>
  </mat-card>
  <mat-card class="level">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Nivel: </span><span id="nivel">1</span>
      </mat-toolbar>
    </mat-card-header>
    <div class="nivel">
      <!-- Aquí van los niveles -->
      <div class="radio">
        <br><label>
            <input type="radio" name="niveles" onclick="setNivel(1,60000);" value="1" checked/>
            Nivel 1: El estímulo durará 5 segundos, y toda la tarea 60 segundos(1min.).
        </label>
        <br><label>
            <input type="radio" name="niveles" onclick="setNivel(2,120000);" value="2"/>
            Nivel 2: El estímulo durará 5 segundos, y toda la tarea 120 segundos(2min.).
        </label>
        <br><label>
            <input type="radio" name="niveles" onclick="setNivel(3,180000);" value="3"/>
            Nivel 3: El estímulo durará 3 segundos, y toda la tarea 180 segundos(3min.).
        </label>
        <br><label>
            <input type="radio" name="niveles" onclick="setNivel(4,240000);"  value="4"/>
            Nivel 4: El estímulo durará 2 segundos y toda la tarea 240 segundos (4min.).
        </label>
        <br><label>
            <input type="radio" name="niveles" onclick="setNivel(5,300000);" value="5"/>
            Nivel 5: El estímulo durará 1 segundo y toda la tarea 300 segundos (5min.).
        </label>
        </div>
    </div>
  </mat-card>
</div>
