<mat-card class="centered">
  <h1 class="title">Terapeutas</h1>
</mat-card>
<mat-card>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <table matSort (matSortChange)="sortData($event)" class="patient-table">
      <tr>
        <th mat-sort-header="curp">CURP</th>
        <th mat-sort-header="nome">Nombre</th>
        <th mat-sort-header="LNameP">Apellido paterno</th>
          <th mat-sort-header="LNameM">Apellido materno</th>
      </tr>

     <tr *ngFor="let therapist of therapists">
        <td><a md-button color="primary" [routerLink]="['/admin', 'consult', therapist.curp]">{{ therapist.curp }}</a></td>
        <td>{{ therapist.firstName }}</td>
        <td>{{ therapist.pName }}</td>
        <td>{{ therapist.mName }}</td>
      </tr>
    </table>
  </div>
</mat-card>
