<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon matListIcon class="activity-icon">face</mat-icon>
        <h3>Terapeuta</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <ul>
        <li [routerLink]="['/admin/register-therapist']">
          <nav>
            <a matLine class="activity-list">Registro</a>
          </nav>
        </li>
        <li>
          <nav>
            <a matLine class="activity-list">Consulta</a>
          </nav>
        </li>
      </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon matListIcon class="activity-icon">child_care</mat-icon>
        <h3>Paciente</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <ul>
        <li>
          <nav>
            <a matLine class="activity-list">Validar</a>
          </nav>
        </li>
      </ul>
  </mat-expansion-panel>
</mat-accordion>
